body {
    background-color: #505465;
    color: #FFFFFF;
}

header {
    display: flex;
    justify-content: center;
    text-align: center;
}

#title {
    font-size: 7vh;
    padding-top: 4vh;
}

#subtitle {
    font-size: 2vh;
}

#img-div {
    text-align: center; 
    background-color: #FFFFFF;
    color: #505465;
    padding-top: 10vh;
}

#image{
    display: block;
    max-width: 90%;
    height: auto;

    padding-bottom: 1vh;
    margin: auto;
}

#img-caption {
    font-size: 4vh;
    padding-bottom: 5vh;
    font-style: italic;
}

#tribute-info {
    padding-top: 2vw;
    text-align: justify;
    text-justify: inter-word;
}

.info-points {
    position: relative;
    padding-left: 25vw;
    padding-right: 25vw;
    padding-top: 0.5vw;
}

.info-list {
    padding: 1vh 3vh 3vh 1vh;
}

footer {
    text-align: center;
    padding: 3vh 25vh 0.5vh 25vh;
    
}

#tribute-link {
    color: #D0D034;
}
